<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beaa89">  <td>21/04/07 08:00:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:automation.cucumber.testrunner.TestRunner@6295d394]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@557023567</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>21/04/07 08:00:06</td>   <td>193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:automation.cucumber.testrunner.TestRunner@6295d394]">feature</td> 
  <td>main@557023567</td>   <td></td> </tr>
<tr bgcolor="77be74">  <td>21/04/07 08:00:26</td>   <td>20522</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestRunner.writeExtentReport()[pri:0, instance:automation.cucumber.testrunner.TestRunner@6295d394]">&lt;&lt;writeExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@557023567</td>   <td></td> </tr>
<tr bgcolor="beaa89">  <td>21/04/07 08:00:26</td>   <td>20538</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:automation.cucumber.testrunner.TestRunner@6295d394]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@557023567</td>   <td></td> </tr>
</table>
